h1,
h4,
h5 {
  margin: 0;
}

@media only screen and (max-width: 369px) {
  #main_content {
    padding: 0;
  }
  .background {
    max-height: 1000px;
    padding: 10px;
  }
  .about_content {
    height: 1000px;
  }
  .photo {
    max-width: 100%;
    height: auto;
    text-align: center;
    padding: 10px 20px;
  }
  .shraddha_img {
    width: 60%;
    box-sizing: border-box;
    height: auto;
  }
  .detail_info {
    max-width: 100%;
    height: 65%;
  }
  .intro {
    max-width: 100%;
    padding: 10px 20px;
    height: calc(60% - 20px);
  }
  .skill_title {
    font-size: 18px;
    padding: 15px;
  }
  .intro_div {
    font-size: 14px;
    text-align: left;
    padding: 15px;
  }
  .bottom {
    max-width: 100%;
    height: 35%;
  }
  .skill {
    padding: 0 10px;
    height: 50%;
    text-align: center;
  }
  .skill_margin {
    width: 100%;
  }
  .skill_name {
    font-size: 14px;
  }
  .skill_dash {
    display: none;
  }
  .contact {
    height: 50%;
    max-width: 100%;
    text-align: center;
  }
  .contact_div {
    max-width: 200px;
    margin: auto;
  }
  .contact_link {
    font-size: 14px;
    display: block;
    padding: 5px;
    margin: 5px;
    text-align: center;
  }
}

@media only screen and (min-width: 370px) and (max-width: 500px) {
  #main_content {
    padding: 10px;
  }
  .background {
    max-height: 1000px;
    padding: 20px;
  }
  .about_content {
    height: 1000px;
  }
  .photo {
    max-width: 100%;
    height: auto;
    text-align: center;
    padding: 10px 20px;
  }
  .shraddha_img {
    width: 60%;
    box-sizing: border-box;
    height: auto;
  }
  .detail_info {
    max-width: 100%;
    height: 65%;
  }
  .intro {
    max-width: 100%;
    padding: 10px 20px;
    height: calc(60% - 20px);
  }
  .skill_title {
    font-size: 18px;
    padding: 15px;
  }
  .intro_div {
    font-size: 16px;
    text-align: left;
    padding: 15px;
  }
  .bottom {
    max-width: 100%;
    height: 35%;
  }
  .skill {
    padding: 0 10px;
    height: 50%;
    text-align: center;
  }
  .skill_margin {
    width: 100%;
  }
  .skill_name {
    font-size: 16px;
  }
  .skill_dash {
    display: none;
  }
  .contact {
    height: 50%;
    max-width: 100%;
    text-align: center;
  }
  .contact_div {
    max-width: 250px;
    margin: auto;
  }
  .contact_link {
    display: block;
    padding: 10px;
    margin: 5px;
    text-align: center;
  }
}

@media only screen and (min-width: 500px) and (max-width: 767px) {
  #main_content {
    padding: 10px;
  }
  .background {
    max-height: 1000px;
    padding: 25px;
  }
  .about_content {
    height: 1000px;
  }
  .photo {
    max-width: 100%;
    height: auto;
    text-align: center;
    padding: 10px 20px;
  }
  .shraddha_img {
    width: 60%;
    box-sizing: border-box;
    height: auto;
  }
  .detail_info {
    max-width: 100%;
    height: 65%;
  }
  .intro {
    max-width: 100%;
    padding: 10px 20px;
    height: calc(60% - 20px);
  }
  .skill_title {
    font-size: 20px;
    padding: 15px;
  }
  .intro_div {
    font-size: 18px;
    text-align: left;
    padding: 15px;
  }
  .bottom {
    max-width: 100%;
    height: 35%;
  }
  .skill {
    height: 50%;
  }
  .skill_margin {
    margin: auto;
    width: 400px;
  }
  .skill_name {
    font-size: 18px;
  }
  .contact {
    height: 50%;
    max-width: 100%;
    text-align: center;
  }
  .contact_div {
    max-width: 250px;
    margin: auto;
  }
  .contact_link {
    display: block;
    padding: 10px;
    margin: 5px;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #main_content {
    padding: 30px;
  }
  .background {
    max-height: 1050px;
    padding: 25px;
  }
  .about_content {
    height: 1050px;
  }
  .photo {
    max-width: 100%;
    height: auto;
    text-align: center;
    padding: 10px 20px;
  }
  .shraddha_img {
    width: 60%;
    box-sizing: border-box;
    height: auto;
  }
  .detail_info {
    max-width: 100%;
    height: 65%;
  }
  .intro {
    max-width: 100%;
    padding: 10px 20px;
    height: calc(60% - 20px);
  }
  .skill_title {
    font-size: 20px;
    padding: 15px;
  }
  .intro_div {
    font-size: 18px;
    text-align: left;
    padding: 15px;
  }
  .bottom {
    max-width: 100%;
    height: 35%;
  }
  .skill {
    height: 50%;
  }
  .skill_margin {
    margin: auto;
    width: 500px;
  }
  .skill_name {
    font-size: 18px;
  }
  .contact {
    height: 50%;
    max-width: 100%;
    text-align: center;
  }
  .contact_div {
    max-width: 250px;
    margin: auto;
  }
  .contact_link {
    display: block;
    padding: 10px;
    margin: 5px;
    text-align: center;
  }
}

@media only screen and (min-width: 992px) and (max-width:1199px) {
  #main_content {
    padding: 25px 50px;
  }
  .background {
    height: 500px;
    padding: 25px;
  }
  .about_content {
    height: 500px;
  }
  .skill_name {
    font-size: 18px;
  }
  .intro_div {
    font-size: 18px;
  }
}

@media only screen and (min-width: 992px) {
  .photo {
    width: 30%;
    height: 100%;
    float: left;
    padding: 0;
  }
  .shraddha_img {
    width: auto;
    box-sizing: border-box;
    height: 90%;
  }
  .detail_info {
    padding: 20px;
    height: calc(65% - 40px);
  }
  .intro {
    display: table;
    float: right;
    width: 60%;
    height: 100%;
    padding: 0;
  }
  .bottom {
    padding: 0 20px;
    height: 35%;
  }
  .skill_title {
    font-size: 25px;
    padding-bottom: 15px;
    padding-top: 0;
  }
  .skill {
    width: 60%;
    float: right;
  }
  .skill_margin {
    width: 500px;
    margin: auto;
  }
  .intro_div {
    vertical-align: middle;
    display: table-cell;
    text-align: left;
    padding: 15px;
  }
  .contact {
    width: 30%;
    float: left;
  }
  .contact_div {
    max-width: 200px;
    margin: auto;
  }
  .contact_link {
    margin: 10px 5px;
    display: block;
    padding: 5px;
    text-align: center;
  }
}

@media only screen and (min-width: 1200px) {
  #main_content {
    padding: 25px 100px;
  }
  .background {
    height: 500px;
    padding: 50px;
  }
  .about_content {
    height: 500px;
  }
  .skill_name {
    font-size: 20px;
  }
  .intro_div {
    font-size: 18px;
  }
}

.background {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/nature1.jpg);
  background-size: cover;
  max-width: 100%;
}

.skill_title {
  color: #202020;
  font-weight: 600;
}

.intro {
  display: table;
}

.intro_div,
.skill_name,
.contact_link {
  color: #585858;
  font-weight: 400;
}

.skill_name {
  text-align: left;
}

.contact_link {
  color: #585858;
  border-style: solid;
  border-width: 1px;
  border-color: border-color;
  border-radius: 5px;
}

.skill_dash {
  color: #355c7d;
  font-weight: 600;
}

.about_content {
  line-height: 160%;
  max-width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}

.uop {
  text-decoration: none;
  color: #355c7d;
}

table,
tr,
td {
  padding: 2px;
  border-spacing: 0;
}

table {
  border-collapse: collapse;
}